.pagination {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    color: #808080;
    margin-bottom: 30px;
}


.pagination__num {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 3px 8px;
    gap: 16px;
    cursor: pointer;
    border-radius: 3px;
}


.pagination__num:hover {
    color: #0064EB;
    font-weight: 900;
}

.pagination__break {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138.5%;
    color: #808080;
}


.pagination__active {
    background-color: #0064EB;
    color: #FFFFFF;
    font-weight: 500;
}
