.main__container {
    display: flex;
    gap: 85px;
    margin: 28px 17px 0;
}


.main__repos {
    width: 80%;
}


.main__repos-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin-top: 0;
    margin-bottom: 29px;
}


.main__repos-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 1024px) {
    .main__container {
       flex-direction: column;
       align-items: center;
    }
    .main__repos-title {
        text-align: center;
     }
}