.card__picture {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 29px;
    margin-top: 15px;
}


@media screen and (max-width: 1024px) {
    .card__picture {
        width: 240px;
        height: 240px;
    }
}